@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
    /* Breakpoints */
    --breakpoint-2.5xl: 1664px;
    --breakpoint-3xl: 1920px;
    --breakpoint-xs: 384px;

    /* Text Sizes */
    --text-2.5xl: 26px;
    --text-4.5xl: 40px;
    
    /* Brand */
    --color-primary: #f48004;
    --color-primary-hover: #e17100;
    --color-primary-active: #c96300;
    --color-primary-foreground: #ffffff;

    /* Layout */
    --color-background: #f5f5f5;
    --color-surface: #ffffff;
    --color-surface-hover: #fafafa;

    /* Typography */
    --color-text: #2a2a2a;
    --color-text-muted: #737373;
    --color-text-disabled: #a3a3a3;

    /* Borders */
    --color-border: #e5e5e5;
    --color-border-hover: #d4d4d4;
    --color-border-focus: #f48004;

    /* Success */
    --color-success: #16a34a;
    --color-success-surface: #f0fdf4;
    --color-success-border: #86efac;

    /* Warning */
    --color-warning: #f59e0b;
    --color-warning-surface: #fffbeb;
    --color-warning-border: #fcd34d;

    /* Danger */
    --color-danger: #dc2626;
    --color-danger-surface: #fef2f2;
    --color-danger-surface-hover: #fee2e2;
    --color-danger-surface-active: #fca5a5;
    --color-danger-border: #fca5a5;

    /* Inputs */
    --color-input-background: #ffffff;
    --color-input-border: #e5e5e5;
    --color-input-border-focus: #f48004;
    --color-input-placeholder: #a3a3a3;

    /* Buttons */
    --color-button: #f48004;
    --color-button-hover: #e17100;
    --color-button-active: #c96300;
    --color-button-text: #ffffff;

    /* Fonts */
    --font-main: "Outfit", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

#login input:invalid:not(:placeholder-shown) {
    border: 2px solid var(--color-danger-border);
    background-color: var(--color-danger-surface);
}

input {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.spinner-dot {
    border-radius: 100%;
    background-color: var(--color-primary);
    height: 20px;
    width: 20px;
    animation: loading 1.5s ease-in-out infinite;
}

#dot-1 {
    animation-delay: 0s;
}

#dot-2 {
    animation-delay: 0.15s;
}

#dot-3 {
    animation-delay: 0.3s;
}

@keyframes loading {
    0%, 100% {
        transform: translateY(0px);
        opacity: 0.6;
    } 50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}